tqdm
numpy
pennylane
ray>=2.3.0
matplotlib
pillow
scikit-learn
seaborn
pandas
opacus
pyyaml
tenseal
kaggle
sentence_transformers

--index-url https://download.pytorch.org/whl/cpu

torch
torchvision
torchaudio